@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  #smartbus-printable-ticket,
  #smartbus-printable-ticket * {
    visibility: visible;
  }
  #smartbus-printable-ticket {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 20px;
  }
}
